@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Quicksand:wght@500&family=Raleway&family=Share+Tech&family=Space+Mono&display=swap');

.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
}

